.font-white
	color #fff !important
.font-black
	color #000 !important
.font-red
	color red !important
.font-blue
	color lightblue !important
	lightblue
.font-bold
	font-weight bold !important
.font-normal
	font-weight normal !important
.font-xs
	font-size 50% !important
.font-s
	font-size 80% !important
.font-l
	font-size 100% !important
.font-xl
	font-size 120% !important
.font-xxl
	font-size 150% !important
.ttu
	text-transform uppercase !important
.tdu
	text-decoration underline !important
.ttn
	text-transform none !important
.tac
	text-align center !important
.tal
	text-align left !important
.taj
	text-align justify !important
.tar
	text-align right !important
.full
	width 100% !important
.large
	width 66.66% !important
.xxl
	width 80% !important
.xl
	width 50% !important
.small
	width 33.33% !important
.semi
	width 50% !important
.wrap
	flex-wrap wrap !important
.center
	margin 0 auto
.clear
	clear both !important
.fl
	float left !important
.fr
	float right !important
.none
	display none !important
.opacity
	opacity 0 !important
.flex
	display -webkit-flex !important
	display -moz-flex !important
	display -ms-flex !important
	display -o-flex !important
	display flex !important
.fc
	align-items center !important
	justify-content center !important
.fdc
	flex-direction column !important